<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqx9bHJTNMqhZz1L-Zf1jjXlrHhHXN3Jg</string>
	<key>GCM_SENDER_ID</key>
	<string>122088837656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liOn</string>
	<key>PROJECT_ID</key>
	<string>lion-2d2db</string>
	<key>STORAGE_BUCKET</key>
	<string>lion-2d2db.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:122088837656:ios:9a454d24ae08723efc296d</string>
</dict>
</plist>